import type { I{{pascalCase name}}Props } from './{{pascalCase name}}.definition';

function {{pascalCase name}}({ prop } : I{{pascalCase name}}Props) {
	return <div>{{pascalCase name}} rendered</div>;
}

export default {{pascalCase name}};
